# Application
NODE_ENV=development
NEXT_PUBLIC_APP_URL=https://mediumseagreen-mongoose-719470.hostingersite.com

# Authentication
JWT_SECRET=sama-butik-hlm5-prod-secret-key-2026-xK9mP3vR7w

# Admin Seed
ADMIN_EMAIL=pape@samabutik.com
ADMIN_PASSWORD=Pape2210

# Google OAuth 2.0 (Supabase Console)
# Authorized redirect URIs: https://toxpzpxvowuduixhaxzq.supabase.co/auth/v1/callback
NEXT_PUBLIC_GOOGLE_CLIENT_ID=255010995813-3u88kdmg2ceqseqaondt68un2i7gdiai.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# PocketBase
POCKETBASE_URL=http://127.0.0.1:8090
PB_ADMIN_EMAIL=pape@samabutik.com
PB_ADMIN_PASSWORD=Pape2210

# Supabase
VITE_SUPABASE_URL=https://toxpzpxvowuduixhaxzq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here
VITE_SUPABASE_PROJECT_ID=toxpzpxvowuduixhaxzq
